.embla {
    overflow:hidden;
    text-align: center;
    display: flex;
    align-items: center;
 
  }
  .embla__containerhome {
    display: flex;
    align-items: center;
    
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    
  }
  .embla__home_slide-img{
    height: 450px;
    /* width: 800px; */
    border-radius: 10px;
    background-color: aqua;
    width: 95%;
  }

  @media (max-width:1280px) {
    .embla__home_slide-img{
      height: 350px;
      /* width: 800px; */
      border-radius: 10px;
      background-color: aqua;
      width: 70%;
    }
  }
 
  @media (max-width:1024px) {
    .embla__home_slide-img{
      height: 300px;
      /* width: 800px; */
      border-radius: 10px;
      background-color: aqua;
      width: 55%;
    }
  }
  @media (max-width:890px) {
    
    .embla__slide hr{
       width: 50%;
    }
    .embla__home_slide-img{
      height: 250px;
      /* width: 800px; */
      border-radius: 10px;
      background-color: aqua;
      width: 40%;
    }
    
    
  }
  @media (max-width:720px) {
    .embla__slide hr{
      width: 40%;
   }
   .embla__home_slide-img{
     height: 200px;
     /* width: 800px; */
     border-radius: 10px;
     background-color: aqua;
     width: 35%;
   }
  }
  @media (max-width:550px) {
    .embla__containerhome {
      overflow:hidden;
      text-align: center;
      display: flex;
      align-items: center;
      display: none;
   
    }
  }