body{
/*     /* font-family: "Playfair Display", serif; */
    font-family: "Lato", sans-serif; */
    font-family: "Lato", sans-serif;
    /* font-family: "Oswald", sans-serif; */
    /* font-family: "Josefin Sans", sans-serif; */


    background-color: rgb(241, 242, 248);   
     color: black;
      /* background-image:url('./assets/45564556.jpg'); */
      background-size: 100%;

  

    color: rgb(0, 0, 0);
    /* background-color: #1D3461; */

    
    background-color: #f5f5dc;
    margin: 0px;
    
    /* rgba(112,145,230,1) */

}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%
    {
      opacity: 1;
    }
 }
