.navbar{
    /* color: brown; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 10px; */
    /* background-color: #999; */
    /* background: linear-gradient(31deg, rgba(112,145,230,1) 20%, rgba(61,82,160,1) 80%); */
    background: linear-gradient(180deg, rgb(125, 217, 237) 5%, #1E3E62 95%);
    background:  #1E3E62 ;
    background: linear-gradient(180deg, #1E3E62 50%,rgb(125, 217, 237) 95%);
    box-shadow: 0 0 10px black;
}
.upperdiv{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.group-logo{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.university-logo{
    height: 70px;
    width: 350px;
}
.navbar-pages{
    list-style-type: none;
    display: flex;
    gap: 18px;
    font-size:25px;
    text-decoration: none;
}
.linktag{
    text-decoration: none;
   
    /* light */
     
    color: azure;

    /* Dark */
    /* color: black; */
    
}
.navbar-pages li:hover{
    color: rgb(5, 14, 7);
    transition: 1s;
    transform: scale(1.1);
}
#contactbutton{
    margin-left: 20px;
    border: 4px solid rgb(125, 217, 237);
    /* background: linear-gradient(264deg,#08dfbb 50.41%, #1573ff 90.45%); */
    padding: 8px;
    font-size: 25px;
    /* border-radius: 20px; */
    transition:2s;
}
#contactbutton:hover{
    transform:scale(1.05);
    transition:0.5s;
}
.hr-tag-navbar{
    width: 200px;
    height: 10px;
    background-color: black;
}
.nav-hr{
    margin-top: 0px;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
#contactbuttonhid{
    display: none;
}
@media (max-width:1536px)
{
    .navbar-pages{
        gap: 15px;
        font-size:20px;
        text-decoration: none;
    }
    #contactbutton{
        margin-left: 10px;

        padding: 6px;
        font-size: 20px;
    }
    .group-logo{
        margin-top: 5px;
        height: 80px;
        width: 80px;
    }
}


@media (max-width:1024px)
{
    .navbar-pages{
        gap: 15px;
        font-size:15px;
        text-decoration: none;
    }
    #contactbutton{
        margin-left: 10px;

        padding: 6px;
        font-size: 15px;
    }
    .group-logo{
       
        height: 60px;
        width: 60px;
    }
}

@media (max-width:800px) 
{
    .navbar-pages{
        gap: 15px;
        font-size:12px;
        text-decoration: none;
    }
    #contactbutton{
        margin-left: 10px;

        padding: 6px;
        font-size: 12px;
    }
}
@media (max-width:680px)
{
    .navbar-pages{
        gap: 10px;
        font-size:10px;
      
    }
    #contactbutton{
        margin-left: 10px;

        padding: 6px;
        font-size: 11px;
    }  
}
@media (max-width:575px) {
  
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position:relative;
        top:30px;
        left:290px;
        width:30px;
    }
    .navbar-pages {
        /* display: block; */
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        color: aliceblue;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -390px ;
    }
    .linktaghid{
        color: aliceblue;
        font-size: 30px;
        padding-left:50px;
    }
    .navbar-pages li{
        
        font-size: 30px;
        padding-left:50px;
        flex-direction: row;
        gap:20px;
      
    }
    #contactbuttonhid{
        display: block;
    }
    #contactbutton{
         display: none;
    }
   
}
